body {
    background-color: #000000;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 24px;             
    padding: 20px;
    flex-direction: column;
}

/*
#itemSearch {

} 

#historySearch {

}

#itemDiv {

}

#historyDiv {

}

*/